<nav class="top-bar">
    <div class="wrapper">
      <div class="logo-top">
        <b>Story</b><i>Teller</i>
      </div>
      <% if user_signed_in? %>
      <ul class="top-bar__session">
        <li>Welcome, <%= current_user.email %></li>
        <li class="top-bar__session-links">
        	<a href="#">Settings</a>
        	<%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
        </li>
      </ul>
      <% end %>
    </div>
</nav>