<nav class="top-bar">
    <div class="wrapper">
      <%= link_to projects_path, :class => "logo-top" do %>
        <b>Story</b><i>Teller</i>
      <% end %>
      <% if user_signed_in? %>
      <ul class="top-bar__menu">
        <li>
        <%= link_to "Projects",  projects_path %>
        </li>
        <li>My Account</li>
        <li>Help</li>
      </ul>
      <ul class="top-bar__session">
        <li>Welcome, <%= current_user.email %></li>
        <li class="top-bar__session-links">
        	<a href="#">Settings</a>
        	<%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
        </li>
      </ul>
      <% end %>
    </div>
</nav>