<section class="new-project">

	<aside class="aside-info">
		<h3>Add New Project</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<%= link_to 'Back', projects_path %>
	</aside>
	<div class="new-project__form">
		<%= render 'form' %>
	</div>
</section>

