$color_dark: 		#202429;
$color_white: 	#fff;
$color_cyan: 		#10a285;
$color_red: 		#ff4231;


html, body {
	background: #f1f1f0;
	min-height: 100%;
	font-size: 16px;
	font-family: "Source Sans Pro";
}

ul {
	margin: 0;
	padding: 0;
}

// Helpers

.wrapper {
	@include outer-container;
	min-width: 960px;
}

.left {
	float: left;
}

.right {
	float: right;
}

// Modules

.logo--big {
	margin-top: 40px;
	font-size: 4em;
	text-align: center;
}

.btn {
	background: $color_cyan;
	color: $color_white;
	text-decoration: none;
	border-radius: 2px;
	padding: 0.2em 1em;
	&:hover {
		background: #0e8a71;
	}
}

.btn--red {
	@extend .btn;
	background: $color_red;
	&:hover {
		background: #e53b2c;
	}
}

.btn--big {
	@extend .btn;
	font-size: 1.5em;
}

// Sign in module

.sign-in {
	margin-top: 40px;
	width: 300px;
	margin: auto;
}

	.sign-in__title {
		@include border-top-radius(5px);
		@include pad(0 20px);
		background: $color_dark;
		color: $color_white;
		font-size: 2em;
		height: 2em;
		line-height: 2em;
	}

	.sign-in__form {
		@include pad(0 20px);
		background: $color_white;
	}

	.sign-in__input {
		width: 100%;
		height: 2em;
		border: 1px solid #c1c1c0;
		border-radius: 2px;
		margin-top: 1em;
	}

	.sign-in__remember-me {
		text-align: right;
		height: 3em;
		line-height: 3em;
	}

	.sign-in__submit {
		background: $color_cyan;
		border: 0;
		border-radius: 2px;
		color: $color_white;
		padding: 5px 10px;
	}

	.sign-in__footer {
		text-align: center;
		line-height: 2em;
		padding: 0.5em;
		background: $color_dark;
		@include border-bottom-radius(5px);
	}

// Navigation top-bar module

.top-bar {
	background: $color_dark;
	width: 100%;
	height: 3em;
	line-height: 3em;
	color: $color_white;
}

.logo-top {
	font-size: 1.5em;
	display: inline-block;
	b {
		font-weight: 600;
	}
	i {
		font-weight: 300;
	}
}

.top-bar__session {
	float: right;
	li {
		list-style: none;
		display: inline;
		margin-left: 1em;
	}
}

// Page Header

.page-header {
	background: #f7f7f7;
	height: 4em;
	border-bottom: 1px solid #d8d8d8;
	line-height: 4em;
}

.page-title {
	font-size: 2em;
	color: #4c4c4c;
}

// Projects Moduçe

.projects {
	margin-top: 2em;
	@include outer-container;
}

.projects__list {
	margin: 0;
	margin-top: 2em;
	padding: 0;
}

.projects__project {
	@include span-columns(4);
	@include omega(3n);
	margin-bottom: 2em;
}

.projects__box-up {
	@include border-top-radius(5px);
	background: $color_white;
	text-align: center;
	padding: 1em 0;
}

.projects__box-down {
	@include border-bottom-radius(5px);
	background: $color_dark;
	text-align: center;
	line-height: 3em;
}

.projects__project-title {
	font-size: 1.5em;
	font-weight: 400;
	margin: 0;
}

.projects__project-subtitle {
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	color: #808080;
}